<div>
  <h1>Our Homes</h1>
    <% @carehomes.each do |carehome| %>
    <br>
    <li>
    <ul><h3><%= carehome.name %></h3></ul>
    <ul><%= carehome.address %></ul>
    <ul><%= carehome.description %></ul>
    </li>
    <% end %>
    <h1>Our Homes</h1> <h1>Our Homes</h1> <h1>Our Homes</h1> <h1>Our Homes</h1>
    <h1>Our Homes</h1> <h1>Our Homes</h1> <h1>Our Homes</h1> <h1>Our Homes</h1>
    <h1>Our Homes</h1> <h1>Our Homes</h1> <h1>Our Homes</h1> <h1>Our Homes</h1>

</div>
