.submit {
  background-color: $primary-color;
  border: none;
  color: $secondary-color;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1,3em;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
  transition: .5s ease-in-out;
}

.submit:hover {
  background-color: white;
  color: $primary-color;
}


.edit {
  background-color: $secondary-color;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1,3em;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
  transition: .5s ease-in-out;
}

.edit:hover {
  background-color: white;
  color: $secondary-color;
}

.btn-back {
  color: rgb(167, 167, 167);
  font-style: italic;
  &:hover {
    color: rgb(134, 134, 134);
  }
}


// button contact carehom

.btn-contact {
  min-width: 300px;
  min-height: 60px;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: $secondary-color;
  background: linear-gradient(90deg, #ffbe1a 0%, #FFC93C 100%);
  border: none;
  border-radius: 0.25rem;
  box-shadow: 5px 5px 15px #0000001a;
  transition: all 0.3s ease-in-out 0s;
  position: relative;
  padding: 15px;
  }

.btn-contact:hover, .btn-contact:focus {
  transform: translateY(-6px);
}

.btn-contact:hover::before, btn-contact:focus::before {
  opacity: 1;
}
