.submit {
  background-color: $primary-color;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1,3em;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
  transition: .5s ease-in-out;
}

.submit:hover {
  background-color: white;
  color: $primary-color;
}


.edit {
  background-color: $secondary-color;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1,3em;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
  transition: .5s ease-in-out;
}

.edit:hover {
  background-color: white;
  color: $secondary-color;
}

.btn-back {
  color: rgb(167, 167, 167);
  font-style: italic;
  &:hover {
    color: rgb(134, 134, 134);
  }
}
