.carehome-photos {
  display: flex;
  height: 500px;
  width: 90vw;
  margin: 20px auto;
}

.main-photo {
  width: 60%;
  object-fit: cover;
  border-radius: 15px;
  transition: 0.5s ease-in-out;
  &:hover{
    filter: sepia(0.2);
  }
}

.gallery-photos {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 22px;
    padding: 10px;
  }

  img:hover {
    filter: sepia(0.4);
  }
}


.carehome-view {
  width: 100%;
  // height: 80vh;
  background-color: $bg-color;
  display: inline-grid;
  grid-template: 1fr 1fr 1fr 1fr / 5vw 1fr 1fr 1fr 5vw;
  column-gap: 10px;
  row-gap: 10px;
}

.carehome-infos {
  grid-area: 1 / 2 / 2 / 4;
  padding: 20px 15px;

  h2 {
    font-family: $headers-font;
    color: $secondary-color;
  }

  a {
    margin-bottom: 5px;
  }

  p {
    color: $secondary-color;
    padding: 20px;
    font-size: 1.2rem;
  }
}

.carehome-favorite {
  grid-area: 1 / 4 / 2 / 5;
  position: relative;
  p {
    position: absolute;
    right: 46%;
    top: 18%;
    color: $secondary-color;
    font-weight: unset;
    font-size: 1.2rem;
  }
}

#favorite-false {
  filter: $primary-svg-darker;
  width: 3rem;
  position: absolute;
  right: 30%;
  top: 15%;
  transition: 0.3s ease-out;
  &:hover{
    filter: $primary-svg;
  }
}

#favorite-true {
  filter: $primary-svg;
  width: 4rem;
  position: absolute;
  right: 30%;
  top: 15%;
}

#show-map {
  grid-area: 2 / 4 / 4 / 5;
  border-radius: 15px;
}

.carehome-details {
  background-color: rgba(227, 228, 255, 0.5);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 25px 60px;
  grid-area: 2 / 2 / 3 / 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  p {
    min-width: 250px;
    color: $secondary-color;
    font-size: large;
    padding: 10px 10px;
  }
}

.carehome-reviews {
  background-color: $bg-color;
  grid-area: 4 / 2 / end / 4;
  h3 {
    color: $secondary-color;
    font-family: $headers-font;
    font-weight: lighter;
    padding: 25px 15px;
  }

  p {
    color: $secondary-color;
    font-size: 1.2rem;
    padding: 25px;
    width: 70%;
  }
}

.carehome-ratings {
  grid-area: 3 / 2 / 4 / 4;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  h3 {
    display: inline-block;
    width: 100%;
    height: 25%;
    color: $secondary-color;
    font-family: $headers-font;
    font-weight: lighter;
    padding: 25px 15px;
  }

  p {
    color: $secondary-color;
    font-size: 1.4rem;
    font-weight: bold;
    min-width: 300px;
    max-height: 50px;
    text-align: center;
    display: flex;
    flex-flow: column;
  }

  .carehome-rating-stars {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }

  .ratings-star-show {
    width: 1.4rem;
    filter: $primary-svg;
  }
}

.carehome-contact {
  grid-area: 4 / 4 / 4 / 5;
  p {
    color: $secondary-color;
    font-weight: 600;
    padding-bottom: 15px;
    padding-left: 20px;
  }
  button {
    margin: 50px 50px;
  }
}
