.carousel-inner {
  height: 65vh;
  width: 75vw !important;
  border-radius: 10px;
  margin: 20px auto;
  img {
    height: 100% !important;
  }
}

.carousel-control-next {
  filter: hue-rotate(755deg) brightness(100%) contrast(50%);
  transition: 0.5s ease-in-out !important;
  &:hover {
    transform: translate(10px);
  }
}

.carousel-control-prev {
  filter: hue-rotate(755deg) brightness(100%) contrast(50%);
  transition: 0.5s ease-in-out !important;
  &:hover {
    transform: translate(-10px);
  }

}


.carehome-view {
  width: 100%;
  // height: 80vh;
  background-color: $bg-color;
  display: inline-grid;
  grid-template: 1fr 1fr 1fr 1fr / 5vw 1fr 1fr 1fr 5vw;
  column-gap: 10px;
  row-gap: 10px;
}

.carehome-infos {
  grid-area: 1 / 2 / 2 / 4;
  padding: 20px 15px;

  h2 {
    font-family: $headers-font;
    color: $secondary-color;
  }

  a {
    margin-bottom: 5px;
  }

  p {
    color: $secondary-color;
    padding: 20px;
    font-size: 1.2rem;
  }

  .carehome-infos-type {
    font-size: 1.1rem;
  }
}

.carehome-favorite {
  grid-area: 1 / 4 / 2 / 5;
  position: relative;
  .carehome-add-fav {
    position: absolute;
    right: 46%;
    top: 18%;
    color: $secondary-color;
    font-weight: unset;
    font-size: 1.2rem;
  }

  .carehome-address {
    bottom: 0%;
    margin: 0;
    left: 0%;
    color: $secondary-color;
    font-weight: 600;
    padding-bottom: 5px;
    padding-left: 10px;
    position: absolute;
  }
  .btn-contact {
    position: absolute;
    top: 65%;
    left: 10%;
  }
}

#favorite-false {
  filter: $primary-svg-darker;
  width: 3rem;
  position: absolute;
  right: 30%;
  top: 15%;
  transition: 0.3s ease-out;
  &:hover{
    filter: $primary-svg;
  }
}

#favorite-true {
  filter: $primary-svg;
  width: 4rem;
  position: absolute;
  right: 30%;
  top: 15%;
}

#show-map {
  grid-area: 2 / 4 / 4 / 5;
  border-radius: 15px;
}

.carehome-details {
  background-color: rgba(227, 228, 255, 0.5);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 25px 60px;
  margin-right: 10px;
  grid-area: 2 / 2 / 3 / 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  p {
    min-width: 250px;
    color: $secondary-color;
    font-size: large;
    padding: 10px 10px;
  }
}

.carehome-reviews {
  background-color: $bg-color;
  grid-area: 4 / 2 / end / 4;
  position: relative;
  h3 {
    color: $secondary-color;
    font-family: $headers-font;
    font-weight: lighter;
    padding: 25px 15px;
  }

  p {
    color: $secondary-color;
    font-size: 1.2rem;
    width: 40%;
  }

  a {
    position: absolute;
    right: 25%;
    top: 40%;
  }
}

.carehome-reviews-justify {
  text-align: end;
  font-style: italic;
  font-size: 0.9rem;
}

.carehome-reviews-preview {
  width: 90vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90vw;
  color: $secondary-color;
  font-size: 2rem;
  margin: 0 auto;

  p {
    color: $secondary-color;
    font-size: 1.2rem;
    padding: 25px;
    width: 25%;
  }
}

.carehome-ratings {
  grid-area: 3 / 2 / 4 / 4;
  padding: 20px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  h3 {
    display: inline-block;
    width: 100%;
    height: 20%;
    color: $secondary-color;
    font-family: $headers-font;
    font-weight: lighter;
    padding: 25px 15px;
  }

  p {
    color: $secondary-color;
    font-size: 1.4rem;
    font-weight: bold;
    min-width: 300px;
    max-height: 50px;
    text-align: center;
    display: flex;
    flex-flow: column;
  }

  .carehome-rating-progress {
    width: 75%;
    margin: 0 auto;
    background-color: $secondary-color;
    height: 1.5rem;
    border-radius: 5px;
    position: relative;
  }

  canvas {
    border-radius: 4px;
  }
}

.carehome-no-reviews {
  grid-area: 2 / 2 / end / 4;
  justify-self: center;
  align-self: center;
  color: $secondary-color;
  h3 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.carehome-pricing {
  grid-area: 4 / 4 / 4 / 5;
  color: $secondary-color;

  h4 {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  p {
    padding: 0.5rem 0rem 0rem 1rem;
  }
}
