
<%# <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">Open modal for @fat</button>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Open modal for @getbootstrap</button> %>
<div
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatrooms[0].id %>"
>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div>
                  <%= simple_form_for [@chatrooms[0], @message],
                    html: { class: "dashboard-input", data: { action: "turbo:submit-end->chatroom-subscription#resetForm" } } do |f|%>
                      <%= f.text_area :content,
                        label: false,placeholder: "Message ##{@chatrooms[0].name}",
                        wrapper_html: {class: "dashboard-input-window"}
                      %>
                    <%= f.submit "Send", class: "btn btn-primary mb-3", id="sweet-alert"  %>
                  <% end %>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>
