<div class="search-form-control form-group">
  <div>
    <%= form_tag carehomes_path, method: :get, class: "d-flex", style: "width: 310px; margin-top: 10px;" do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control search-bar string required",
      placeholder: "Where?"
      %>
      <div class="search-btn">
        <%= image_submit_tag "search-glass-solid.svg", class: "icon-search"%>
      </div>
    <% end %>
  </div>
</div>
