<%= content_for(:navbar_class, "navbar-home") %>


<div class="banner">
  <div class="banner-content text-center">

      <h1>Find a carehome that fits your needs</h1>
      <p>Careview shares real life experiences from residents</p>

  </div>
</div>






<%# <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary" %>
<%# <%= link_to "Sign up", new_user_registration_path, class: "btn btn-danger" %>
