.alert {
  position: absolute;
  // top:;
  right: 16px;
  z-index: 30;
  background-color: transparent !important;
}


.alert-info,
.alert-dismissible {
  color: blue !important;
  background-color: red !important;
  border-color: transparent !important;
  margin-top: 60px !important;
  position: relative;
  top: 38px;
}
