.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}


.alert-info {
  color: blue !important;
  background-color: #a83e95 !important;
  border-color: #bee5eb;
  margin-top: 60px !important;
}
