.banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("background2.jpg");
  background-size: cover;
  background-position: center;
  h1 {
    color: white;
    font-weight: bold;
    font-size: 45px;
  }
  p {
    color: white;
    opacity: .8;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 30px;
  }
  button {
    color: $secondary-color;
    font-size: 12px;
    padding: 10px;
  }
  button:hover {
    color: $secondary-color !important;
  }
}


// .banner {
//   height: 100vh;
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("background2.jpg");
//   background-size: cover;
//   background-position: center;
//   h1 {
//     color: white;
//     font-weight: bold;
//     font-size: 45px;
//   }

//   h4 {
//     color: white;
//     // font-weight: bold;
//     font-size: 17px;
//     font-family: $body-font !important;
//     text-shadow: 5px 5px 10px rgba(0,0,0,0.8);

//   }
//   p {
//     color: white;
//     opacity: .8;
//     font-size: 25px;
//     font-weight: lighter;
//     margin-bottom: 30px;
//   }
// }

