#index-map {
  height: 100vh;
  border-radius: 5px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  background-color: $bg-color;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 15px;

  p {
    margin: 0;
    padding: 0;
  }
}
