.navbar-lewagon {
  justify-content: space-between;
}
.navbar-wagon {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
  background-color: red !important;
  z-index: 9999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white !important;
}

.navbar-home {
  // background: unset;
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  .navbar-wagon-link {
    color: white;
    font-weight: bold;
  }
}
