.navbar-lewagon {
  justify-content: space-between;
}
.navbar-wagon {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
  background-color: $bg-color;
  border-bottom: 2px solid #EBEBEB;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white !important;
}

.navbar-home {
  position: absolute;
  width: 100%;
  background: transparent;
  box-shadow: none;
  border-bottom: none;
  .navbar-wagon-link {
    color: white;
    font-weight: bold;
    // text-shadow: 5px 5px 10px rgba(0,0,0,0.8) !important;
  }
  h1 {
    color: white;
    // text-shadow: 5px 5px 10px rgba(0,0,0,0.8);
  }
}
