.kaminari-pagination {
  margin-left: 30%;
}

.kaminari-pagination a {
  color: $secondary-color;
  padding: 10px;
  transition: 0.3s ease-in-out;

  &:hover {
    color: $primary-color;
  }
}

.kaminari-pagination .current {
  color: $primary-color;
  text-decoration: underline;
  font-weight: bolder;
}
