<div class="carehome-show-card mt-3">
        <h4>Rate this Carehome</h4>
        <%= simple_form_for([@carehome, @reviews_form]) do |f| %>
          <%= f.input :rating %>
          <%= f.submit "Submit rating", class: "btn-approve"%>
        <% end %>
      </div>
